//Variables


@font-face
	font-family: kalinga
	src: url(assets/kalinga.ttf)

@font-face
	font-family: kalinga
	src: url(assets/kalingab.ttf)
	font-weight: bold


//Body Area
body
	margin: 0 !important
	padding: 0 !important

wrapper 
	width: 100%
	
header
	display: block
	float: left
	width: 100%
	height: 450px
	
	.whitefix
		background-color: white
		opacity: .25
		width: 100%
		height: 100%
		position: absolute
	
	.visualdesign
		position: relative
		height: 100%
		width: 50%
		background-image: url('assets/VDbg.jpg')
		background-size: cover
		
			
	.freelanceillustration
		position: relative
		height: 100%
		width: 50%
		background-image: url('assets/FIbg.jpg')
		background-size: cover
			
		
	.htext
		position: relative
		float: left
		width: 50%
		text-align: center
		background-color: white	
		font-family: kalinga
		font-weight: bold
		font-size: 20pt
		
	span
		position: absolute
		top: 75%
		margin-left: 25%
			
	ul
		width: 100%
		height: 100%
		display: block
		float: left
		list-style: none
		margin: 0
		padding: 0
		box-sizing: border-box
	
	li
	
		//display: inline-block
		height: 100%
		width: 50%
		float: left
		padding: 0
		
	img
		display: block
		position: relative
		max-width: 100%
		max-height: 100%
		margin-left: auto
		margin-right: auto
	
	
	h2
		
			

nav
	background-color: #eeeeee
	height: 70px
	width: 100%
	display: block
	float: left
	padding: 5px
	position: relative
	
	a 
		outline: none
		text-decoration: none
		color: black

	h1
	
	ul
		position: relative
		display: block
		list-style: none
		padding: 0
		margin: 0
		box-sizing: border-box
		text-align: right
		vertical-align: middle
		
		
	
	li
		
		display: inline-block
		padding: 10px
		margin: 10px
		font-size: 3em
		margin-right: 1.5rem
		

section
	display: block
	float: left
	width: 100%
	height: 1000px 
	background-color: green

	h2
	
	ul
	
	li

footer
	width: 100%
	height: 50px
	display: block
	float: left
	background-color: grey
	



